.body {
    position: relative;
    padding: 2rem;
    padding-top: 8rem;
}

.body-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.alert-box {
    padding: 1rem;
    background-color: lightgreen;
    color: darkgreen;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid darkgreen;
}

.alert-box span {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

main > h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

main .text-editor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-editor textarea {
    min-height: 150px;
    border-radius: 5px;
    font-size: x-large;
    padding: 0.5rem 1rem;
}

.text-editor .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.text-editor .buttons button {
    padding: 0.5rem 0.8rem; 
    color: white;
    border-radius: 5px;
    border: none;
    background-color: blue;
    font-size: large;
    white-space: nowrap;
}

.text-editor > h3 {
    font-size: x-large;
    font-weight: 600;
}

main .summary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main .summary > h1 {
    font-weight: 600;
}

main .preview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.preview h2 {
    text-align: center;
}

.preview textarea {
    min-height: 100px;
    border-radius: 5px;
    font-size: x-large;
    padding: 0.5rem 1rem;
}



@media screen and (max-width: 538px) {
    .body {
        padding: 1rem;
        padding-top: 4rem;
    }
    main > h1 {
        font-size: x-large;
        font-weight: 700;
    }
    .text-editor .buttons button {
        font-size: small;
    }
}